<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начальная страница</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
    function pub(){
      $('.result-block').html('').load("{% url 'startinfo' %}?but=start");
      $('.result-block').append('').load("{% url 'startinfo' %}?but=finish");
    };
    </script>
</head>
<body>
    <div></div>
        <button onclick="pub()">Отправить</button>
    </div>

    <div class="result-block">
            <!-- Подгружаю номера телефонов из фильтра -->

    </div>
</body>
</html>